<!-- the middle contents -->
<div class="contents">
	<section id="search-container">
		<div class="container">
			<div id="search-box">
				<h1>We currently have <strong>25,011</strong> job posts but only <strong>10,111</strong> applicants</h1>
				<form class="form-inline">
				  	<input type="text" class="btn-block" autofocus="autofocus" placeholder="Example: Software developer">
				</form>
			</div>
		</div>
	</section>
	<section id="featured">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-3">
					<h3 class="sub-heading">Advance search</h3>
					<form>
				  		<div class="form-group">
					    <label>Job category</label>
					    <select class="form-control input-lg">
						  	<option>Networking</option>
						  	<option>Sales &amp; Marketing</option>
						  	<option>Teaching</option>
						  	<option>Programming</option>
						</select>
					    <small class="help-block">Help text for job seeker.</small>
					    </div>
					    <div class="form-group">
					    <label>Location</label>
					    <select class="form-control input-lg">
						  	<option>America</option>
						  	<option>Europe</option>
						  	<option>Africa</option>
						  	<option>Asia</option>
						  	<option>Oceanic</option>
						</select>
						<small class="help-block"></small>
						</div>
						<div class="form-group">
						<label>Salary</label>
					    <select class="form-control input-lg">
						  	<option>€1000 - €5000</option>
						  	<option>€5000 - €10000</option>
						  	<option>€10000+</option>
						</select>
						<small class="help-block"></small>
						</div>
						<div class="row">
						  	<div class="col-xs-12 col-md-6">
								<div class="checkbox">
							      	<label>
							        	<input type="checkbox"> Freelance
							     	</label>
							 	</div>
						  	</div>
						  	<div class="col-xs-12 col-md-6">
								<div class="checkbox">
							      	<label>
							        	<input type="checkbox"> Contract
							     	</label>
							 	</div>
						  	</div>
						</div>
					    <div class="row">
						  	<div class="col-xs-12 col-md-6">
								<div class="checkbox">
							      	<label>
							        	<input type="checkbox"> Full time
							     	</label>
							 	</div>
						  	</div>
						  	<div class="col-xs-12 col-md-6">
								<div class="checkbox">
							      	<label>
							        	<input type="checkbox"> Part time
							     	</label>
							 	</div>
						  	</div>
						</div>
						<br>
					    <button type="submit" class="btn btn-primary input-lg btn-block">Search</button>
					</form>
				</div>
				<div class="col-xs-12 col-md-9">
					<h3 class="sub-heading">
						Gigs
						<span class="pull-right"><small>1 - 25 results</small></span>
					</h3>
					<table class="table table-striped">
					  <tbody>
					  	<% @julie.each do |mike| %>
					  		<tr>
					  			<td>
					  				<p><%= link_to mike.name, mike %></a> <small class="label label-success">Full time</small></p>
					  				<p>Google Enterprises</p>
					  			</td>
					  			<td class="job-location">
					  				<p><i class="glyphicon glyphicon-calendar"></i><%= mike.created_at.strftime('%B %d, %Y') %></p>
					  				<p><i class="glyphicon glyphicon-map-marker"></i><%= mike.location %></p>
					  			</td>
					  		</tr>
					  	<% end %>
					  </tbody>
					</table>
					<div class="pull-right">
						<%= paginate @julie %>
					</div>
				</div>
			</div>
		</div>
	</section>
</div><!-- /.contents -->
