	<!-- the middle contents -->
	<div class="contents">
		<section id="post">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-3">
						<h3 class="sub-heading"><span class="yellowish">€99</span> for 30days</h3>
						<p><strong>How it works</strong></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at augue metus, at aliquam leo. Nam ac justo nisl. Ut non orci odio. Praesent lobortis blandit lacus et consectetur. Etiam ac sagittis tortor. Vestibulum vestibulum sem nec purus congue cursus. Sed bibendum lectus id tellus egestas sit amet interdum leo fringilla. Fusce dictum neque ut massa facilisis nec mattis erat blandit. In vel vestibulum massa.</p>

						<p><strong>Benefits</strong></p>
						<ol>
							<li>Consectetur adipiscing elit.</li>
							<li>Consectetur elit.</li>
							<li>Consectetur adipiscing.</li>
							<li>Consectetur adipiscing elit.</li>
							<li>Adipiscing elit.</li>
							<li>Consectetur adipiscing elit.</li>
						</ol>
					</div>
					<div class="col-xs-12 col-md-9">
						<h3 class="sub-heading">Post a job</h3>
						<div class="content-inner-detail">
							<form>
								<legend>Company profile</legend>
						  		<div class="row">
						  			<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for="">Company name</label>
									    <input type="text" class="form-control input-lg">
									    <small class="help-block">Example block-level help text here.</small>
									  	</div>
							    	</div>
							    	<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for="">Website</label>
									    <input type="url" class="form-control input-lg">
									    <small class="help-block">Example block-level help text here.</small>
									  	</div>
							    	</div>
						    	</div>
						    	<div class="row">
						  			<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for="">Telephone</label>
									    <input type="tel" class="form-control input-lg">
									    <small class="help-block">Example block-level help text here.</small>
									  	</div>
							    	</div>
							    	<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for="">Email address</label>
									    <input type="email" class="form-control input-lg">
									    <small class="help-block">Example block-level help text here.</small>
									  	</div>
							    	</div>
						    	</div>
						    	<div class="row">
						  			<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for="">Address</label>
									    <input type="text" class="form-control input-lg">
									    <small class="help-block">Example block-level help text here.</small>
									  	</div>
							    	</div>
							    	<div class="col-xs-12 col-md-6">
							    		<div class="form-group">
								    	<label for="">Country</label>
								    	<select class="form-control input-lg">
										  	<option>America</option>
										  	<option>Europe</option>
										  	<option>Africa</option>
										  	<option>Asia</option>
										  	<option>Oceanic</option>
										</select>
								    	<small class="help-block">Example block-level help text here.</small>
								    	</div>
							    	</div>
						    	</div>
						    	<br>
							    <legend>Job description</legend>
								<div class="row">
						  			<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for="">Job title</label>
									    <input type="text" class="form-control input-lg">
									    <small class="help-block">Example block-level help text here.</small>
									  	</div>
							    	</div>
							    	<div class="col-xs-12 col-md-6">
							    		<div class="form-group">
								    	<label>Job category</label>
								    	<select class="form-control input-lg">
										  	<option>Networking</option>
										  	<option>Sales &amp; Marketing</option>
										  	<option>Teaching</option>
										  	<option>Programming</option>
										</select>
								    	<small class="help-block">Example block-level help text here.</small>
								    	</div>
							    	</div>
						    	</div>
						    	<div class="row">
						  			<div class="col-xs-12 col-md-6">
						  				<div class="form-group">
								    	<label>Work type</label>
								    	<select multiple="multiple" class="form-control input-lg">
										  	<option>Freelance</option>
										  	<option>Contract</option>
										  	<option>Full time</option>
										  	<option>Part time</option>
										</select>
								    	<small class="help-block">Hold "Shift" key for multi-select</small>
								    	</div>
							    	</div>
							    	<div class="col-xs-12 col-md-6">
							    		<div class="form-group">
								    	<label for="">Overview</label>
								    	<textarea rows="5" class="form-control"></textarea>
								    	<small class="help-block">Example block-level help text here.</small>
								    	</div>
							    	</div>
						    	</div>
						    	<div class="row">
						  			<div class="col-xs-12 col-md-6">
						  				<div class="form-group">
								    	<label>Description</label>
								   		<textarea rows="3" class="form-control"></textarea>
								    	<small class="help-block">Example block-level help text here.</small>
								    	</div>
							    	</div>
							    	<div class="col-xs-12 col-md-6">
							    		<div class="form-group">
								    	<label>Additional details</label> <span><small>e.g. requirements</small></span>
								    	<textarea rows="3" class="form-control"></textarea>
								    	<small class="help-block">Example block-level help text here.</small>
								    	</div>
							    	</div>
						    	</div>
						    	<br>
						    	<legend>Additional information for applicant</legend>
						    	<div class="form-group">
						    	<label>Message</label>
						    	<textarea rows="3" class="form-control"></textarea>
						    	<small class="help-block">Example block-level help text here.</small>
						    	</div>
						    	<br>
						    	<button type="submit" class="btn btn-primary input-lg">Submit post</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div><!-- /.contents -->

	<!-- the botom client image -->
	<div class="clients">
		<div class="container">
			<img src="img/clients.png" alt="clients" class="img-responsive">
		</div>
	</div>

	<!-- the footer -->
	<footer>
		<div class="container">
			<p class="pull-left">About | Terms | Privacy | FAQ | Support | Contact</p>
			<p class="pull-right">&copy; Company 2013</p>
		</div>
	</footer>


