<!-- the footer -->
<footer>
	<div class="container">
		<p class="pull-left">About | Terms | Privacy | FAQ | Support | Contact</p>
		<p class="pull-right">&copy; Lancer 2015</p>
	</div>
</footer>